body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.vid_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.titre {
    background: #ffffff;
    border-radius: 0px 50px 0px;
    box-shadow: 10px 10px 30px rgba(0,0,0,1.4);
    width: 475px;
    margin: 100px auto;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.titre img {
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 50%;
    margin: 20px auto;
    width: 150px;
    display: block;
}

.titre img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 4px 4px 10px rgba(0,0,0,1.4);
}

.titre #h1_1 {
    text-align: center;
    color: hsl(0, 0%, 0%);
    padding: 0px;
    padding-bottom: 15px;
}

.Formulaire {
    margin-bottom: 35px;
    text-align: left;
}

.Formulaire .elements {
    color: hsl(0, 0%, 0%);
    font-size: 18px;
    text-align: left;
}

.Formulaire .champ {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

.Formulaire .champ:hover {
    transform: scale(1.015);
    transition: 0.3s;
}

#email {
    margin-bottom: 22px;
    background-color: #e2e5e9;
}

#password {
    margin-bottom: 30px;
    background-color: #e2e5e9;
}

#btn_Lin {
    color: white;
    font-size: 20px;
    border: none;
    background-color: hsl(233, 81%, 54%);
    display: block;
    margin: auto;
    width: 101%;
    max-width: 480px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 3px 6px hsl(208, 81%, 58%);
}

#btn_Lin:hover {
    transform: scale(1.015);
    transition: 0.3s;
}

.Q {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.Q legend {
    color: hsl(0, 0%, 0%);
}

.Q a {
    text-decoration: none;
    color: hsl(233, 81%, 54%);
}

.Q a:hover {
    transform: scale(1.05);
    transition: 0.5s;
    text-decoration: underline;
}

.fin_1 {
    margin-top: 60px;
    padding-bottom: 20px;
}

.fin_1 p {
    color: white;
    text-align: center;
    font-size: 16px;
}